.my-blue{
	background-color:#222d41;
}
.input-field label {
     color: #FFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFF;
}
/* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #ff;
   box-shadow: 0 1px 0 0 #000;
}
.light{
	color : #fff
}   
  
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff;
}
   
input, select, textarea{
    color: #fff;
}